ul
{
  list-style-type: none;
}
.text-white{
  color: white;
}
.footer-theme{
  height: 150px;
  background-color: #404040;
}
.p-l-30px{
  padding-left: 30px;
}
@media (min-width: 320px) and (max-width: 374px) {
  .text-font-size{
    font-size: 8px;
  }
  .text-font-size-small{
    font-size: 8px;
  }
  .textbox-round {
    border-radius: 50px;
    padding: 5px;
    width: 100%;
    font-size: 9px;
    padding-left: 8px !important;
    background-color: #404040;
  }
  .font-size-xs{
    font-size: 8px;
  }
  .left-right-zero-padding{
    padding-left: 0px;
    padding-right: 0px;
  }
  .pl-2{
    padding-left: 0px !important;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .text-font-size{
    font-size: 8px;
  }
  .text-font-size-small{
    font-size: 8px;
  }
  .textbox-round {
    border-radius: 50px;
    padding: 5px;
    width: 100%;
    font-size: 9px;
    padding-left: 8px !important;
    background-color: #404040;
  }
  .font-size-xs{
    font-size: 8px;
  }
  .left-right-zero-padding{
    padding-left: 0px;
    padding-right: 0px;
  }
  .pl-2{
    padding-left: 2px !important;
  }
}
@media (min-width: 425px) and (max-width: 543px) {
  .text-font-size{
    font-size: 8px;
  }
  .text-font-size-small{
    font-size: 8px;
  }
  .textbox-round {
    border-radius: 50px;
    padding: 5px;
    width: 100%;
    font-size: 9px;
    padding-left: 8px !important;
    background-color: #404040;
  }
  .font-size-xs{
    font-size: 8px;
  }
  .left-right-zero-padding{
    padding-left: 0px;
    padding-right: 0px;
  }
  .pl-2{
    padding-left: 4px !important;
  }
}
@media (min-width: 544px) and (max-width: 767px) {

}
/* tablet screen */
@media (min-width: 768px) and (max-width: 991px) {
  .p-l-30px{
    padding-left: 12px;
  }
  .text-font-size{
    font-size: 14px;
  }
}
@media (min-width: 576px) and (max-width: 640px) and (orientation:landscape){
  .text-font-size{
    font-size: 9px;
  }
  .text-font-size-small{
    font-size: 10px;
  }
  .textbox-round {
    border-radius: 50px;
    padding: 5px;
    width: 100%;
    font-size: 9px;
    padding-left: 8px !important;
    background-color: #404040;
  }
  .font-size-xs{
    font-size: 10px;
  }
  .left-right-zero-padding{
    padding-left: 0px;
    padding-right: 0px;
  }
  .pl-2{
    padding-left: 4px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .text-font-size{
    font-size: 9px;
  }
  .text-font-size-small{
    font-size: 10px;
  }
  .textbox-round {
    border-radius: 50px;
    padding: 5px;
    width: 100%;
    font-size: 9px;
    padding-left: 8px !important;
    background-color: #404040;
  }
  .font-size-xs{
    font-size: 10px;
  }
  .left-right-zero-padding{
    padding-left: 0px;
    padding-right: 0px;
  }
  .pl-2{
    padding-left: 4px !important;
  }
}
