<div class="container-fluid">
  <div class="row footer-theme pt-3">
    <div class="col-md-2 m-t">
      <img src="../../assets/img/logo.png" class="img-fluid">

    </div>
    <div class="col-md-2">
      <ul class="m-t" class="text-white pl-0">
        <li class="m-b">About us</li>
        <li class="m-b text-font-size">Open Business</li>
        <li class="m-b text-font-size">Download App</li>
      </ul>

    </div>
    <div class="col-md-3">
      <ul class="m-t" class="text-white pl-0">
        <li class="m-b">Terms And Conditions</li>
        <li class="m-b">Privacy Policy</li>
        <li class="m-b">Support Center</li>
      </ul>

    </div>
    <div class="col-md-2">
      <ul class="m-t" class="text-white pl-0">
        <li class="m-b">Follow Us</li>
        <li class="m-b"><i class="fa fa-facebook-official"></i><i class="fa fa-twitter-square pl-2"></i><i class="fa fa-google-plus-square pl-2"></i><i class="fa fa-rss-square pl-2"></i></li>
      </ul>

    </div>
    <div class="col-md-3">
      <ul class="m-t" class="text-white pl-0">
        <li class="m-b">Subscribe</li>
        <li class="m-b"><input type="email" class="textbox-round pl-3" placeholder="Enter email"></li>
        <li class="m-b font-size-small">Copyright 2017 Openbusiness LLC</li>
      </ul>

    </div>
  </div>
</div>
