<div class="container-fluid">
  <div class="row" style="height: 150px;background-color: #404040">
    <div class="col-md-2 m-t">
      <img src="../../assets/img/logo.png" class="img-fluid">

    </div>
    <div class="col-md-2">
      <ul class="m-t" style="color: white;">
        <li class="m-b">About us</li>
        <li class="m-b">Open Business</li>
        <li class="m-b">Download App</li>
      </ul>

    </div>
    <div class="col-md-2">
      <ul class="m-t" style="color: white;padding-left: 0px;">
        <li class="m-b">Terms And Conditions</li>
        <li class="m-b">Privacy Policy</li>
        <li class="m-b">Support Center</li>
      </ul>

    </div>
    <div class="col-md-2">
      <ul class="m-t" style="color: white;">
        <li class="m-b">Follow Us</li>
        <li class="m-b"><i class="fa fa-facebook-official"></i><i class="fa fa-twitter-square p-l-fifty"></i><i class="fa fa-google-plus-square p-l-fifty"></i><i class="fa fa-rss-square p-l-fifty"></i></li>
      </ul>

    </div>
    <div class="col-md-4">
      <ul class="m-t" style="color: white;">
        <li class="m-b">Subscribe</li>
        <li class="m-b"><input type="email" class="textbox-round" placeholder="Enter email"></li>
        <li class="m-b font-size-small">Copyright 2017 Openbusiness LLC</li>
      </ul>

    </div>
  </div>
</div>
