<div class="container-fluid">
  <div class="row footer-theme pt-3">
    <div class="col-md-2 col-2 left-right-zero-padding m-t">
      <img src="../../assets/img/logo.png" class="img-fluid">

    </div>
    <div class="col-md-2 col-2">
      <ul class="m-t" class="text-white pl-0">
        <li class="m-b cursor-pointer text-font-size-small">About us</li>
        <li class="m-b text-font-size cursor-pointer">Open Business</li>
        <li class="m-b text-font-size cursor-pointer">Download App</li>
      </ul>

    </div>
    <div class="col-md-3 col-2">
      <ul class="m-t" class="text-white pl-0">
        <li class="m-b cursor-pointer text-font-size-small">Terms And Conditions</li>
        <li class="m-b cursor-pointer text-font-size-small">Privacy Policy</li>
        <li class="m-b cursor-pointer text-font-size-small">Support Center</li>
      </ul>

    </div>
    <div class="col-md-2 col-2">
      <ul class="m-t" class="text-white pl-0">
        <li class="m-b cursor-pointer text-font-size-small">Follow Us</li>
        <li class="m-b cursor-pointer"><i class="fa fa-facebook-official"></i><i class="fa fa-twitter-square pl-2"></i><i class="fa fa-google-plus-square pl-2"></i><i class="fa fa-rss-square pl-2"></i></li>
      </ul>

    </div>
    <div class="col-md-3 col-4">
      <ul class="m-t" class="text-white pl-0">
        <li class="m-b text-font-size-small">Subscribe</li>
        <li class="m-b"><input type="email" class="textbox-round pl-3" placeholder="Enter email"></li>
        <li class="m-b font-size-small font-size-xs">Copyright 2017 Openbusiness LLC</li>
      </ul>

    </div>
  </div>
</div>
