/* img{
  height: 250px;
  width: 335px;
  object-fit: contain;
} */
.m-t-10{
  margin-top: 10%;
}
.border-radius-30px{
  border-radius: 30px;
}
.text-padding{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-lightgrey{
  color: lightgrey;
}
.theme-btn{
  background-color: #819a49;
  color: white;
}
.display-inline-flex{
  display: inline-flex;
}
.color-blue{
  color: blue;
}
.color-red{
  color: red;
}
.color-tweet{
  color: deepskyblue;
}
.p-r-5{
  padding-right: 5px;
}
.height-0{
  height: 45px !important;
}
.float-right-date{
  float: right;
}
.gray-btn{
  background-color: gray;
  color: white;
}
ul
{
  list-style-type: none;
}
.add-comment-btn{
  background-color: #819a49;
  color: white;
}
.m-l-10px{
  margin-left: 10px;
}
.p-l-0{
  padding-left: 0px;
}
@media (min-width: 576px) and (max-width: 767px) {

 }
 @media (min-width: 768px) and (max-width: 991px) {
   .featured-product-heart{
     padding-left: 15px;
     padding-right: 10px;
   }
   .font-size{
     font-size: 14px;
   }
   .text-padding{
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 5px;
     padding-bottom: 5px;
   }

 }
 @media (min-width: 992px) and (max-width: 1199px) {

 }
