<app-header></app-header>
<div class="container m-t m-b">
  <div class="row m-t">
    <div class="col-6">
      <div class=" row" style="height:50%">
        <div class="col-10">
          <img src="../../assets/img/9.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row m-t-10">
        <div class="col">
          <h6>Desription</h6>
          <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
             when an unknown printer took a galley of type and scrambled it to make a type
              specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in
              the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
              and more recently with desktop publishing software like Aldus PageMaker including
               versions of Lorem Ipsum. It was popularised in
               the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
               and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.
             </h6>
          <a role="button" class="text-success">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row m-t">
        <div class="col">
          <h3> Sennheiser HD 4.30 i Black (506780)</h3>
        </div>
      </div>
      <div class="row m-t">
        <div class="col-3">
          <app-rating></app-rating>
        </div>
        <div class="col-2">
        <h6 class="text-lightgrey">(2548)</h6>
        </div>
      </div>
      <div class="row m-t">
        <div class="col">
          <h2 class="text-color-theme-green">KES 79.00</h2>
        </div>
      </div>
      <div class="row m-t">
        <div class="col">
          <button class="btn btn-rounded theme-btn"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
          <button class="btn btn-light btn-rounded display-inline-flex"><i class="material-icons">favorite_border</i>To WISHLIST</button>
        </div>
      </div>
      <div class="row m-t">
        <div class="col">
          <p>Left in stock (10)</p>
        </div>
      </div>
      <div class="row m-t">
        <div class="col">
          <button class="btn btn-light color-blue"><i class="fa fa-facebook-official p-r-5"></i>Share</button>
          <button class="btn btn-light color-red"><i class="fa fa-pinterest-square p-r-5"></i>Pin it</button>
          <button class="btn btn-light"><i class="fa fa-twitter-square p-r-5 color-tweet"></i>Tweet</button>
        </div>
      </div>
      <div class="row m-t">
        <div class="col">
          <h6>SHIPPING</h6>
        </div>
      </div>
      <div class="row m-t">
        <div class="col">
          <h6>Shipping Price: $10.00</h6>
        </div>
      </div>
      <div class="row m-t">
        <div class="col">
          <h6>Additional items Shipping Price: $13.00</h6>
        </div>
      </div>
      <div class="row m-t">
        <div class="col">
          <div class="container border">
            <ul class="media-list container-fluid">
              <li class="media mt-4">
                <a href="#" class="pull-left">
                  <img src="../../assets/img/user.png" alt="" class="rounded img-comment height-0">
                </a>
                <div class="media-body border-bottom p-l-15">
                  <strong class="text-muted">Rexona Kumi</strong>
                  <span class="text-muted">
                    <small class="text-muted float-right-date">July 23, 1:32 PM</small>
                  </span>
                  <app-rating></app-rating>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet,.
                  </p>
                </div>
              </li>
              <li class="media mt-4">
                <a href="#" class="pull-left">
                  <img src="../../assets/img/user.png" alt="" class="rounded img-comment height-0">
                </a>
                <div class="media-body border-bottom p-l-15">
                  <strong class="text-muted">Rexona Kumi</strong>
                  <span class="text-muted">
                    <small class="text-muted float-right-date">July 23, 1:32 PM</small>
                  </span>
                  <app-rating></app-rating>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet,.
                  </p>
                </div>
              </li>
              <li class="text-color-theme-green" data-toggle="modal" data-target=".bd-example-modal-lg"><a>Read all reviews</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-t">
        <div class="col">
          <h3 class="m-t">Also may like</h3>
          <button class="btn gray-btn m-t"> ON SAIL</button>
        </div>
  </div>
</div>
<div class="container m-b" >
  <div class="row">
    <div class="col-3">
      <app-single-product></app-single-product>
    </div>
    <div class="col-3">
      <app-single-product></app-single-product>
    </div>
    <div class="col-3">
      <app-single-product></app-single-product>
    </div>
    <div class="col-3">
      <app-single-product></app-single-product>
    </div>
  </div>
</div>
<app-footer></app-footer>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row m-t">
        <div class="col-1">
          <img src="../../assets/img/user.png" class="rounded img-comment height-0 m-l-10px">
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col">
              <h3> Sennheiser HD 4.30 i Black (506780)</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <app-rating></app-rating>
            </div>
            <div class="col-2">
              <h6 class="text-lightgrey">(2548)</h6>
            </div>
          </div>
        </div>
        <div class="col-3 p-l-0">
          <button class="btn btn-rounded add-comment-btn">ADD COMMENT</button>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <app-reviews></app-reviews>
        </div>
      </div>
    </div>
  </div>
</div>
