<div class="container border mb-5">
  <div class="row mb-3">
    <div class="col-8">
      <button type="button" class="btn btn-light p-15 text-lightgrey mt-1">SORT BY SHOP NAME<i class="fa fa-angle-down p-l-5"></i></button>
      <button type="button" class="btn btn-light p-15 text-lightgrey mt-1">SORT BY DATE<i class="fa fa-angle-down p-l-5"></i></button>
      <i class="fa fa-calendar text-lightgrey pt-2"></i>
    </div>
    <div class="col-4">
      <nav aria-label="Page navigation example" class="p-15">
        <ul class="pagination justify-content-end">
          <li class="page-item">
            <a class="page-link text-lightgrey" href="javascript:void(0)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link text-lightgrey" href="javascript:void(0)">1</a></li>
          <li class="page-item"><a class="page-link text-lightgrey" href="javascript:void(0)">2</a></li>
          <li class="page-item"><a class="page-link text-lightgrey" href="javascript:void(0)">3</a></li>
          <li class="page-item">
            <a class="page-link text-lightgrey" href="javascript:void(0)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!--item product row 1-->
  <div class="row">
    <div class="col-3 p-l-35">
      <div class="row" style="height: 50%">
        <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 50%">
        <div class="col-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <div>
            <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart featured-product-heart m-t"></i><i class="fa fa-shopping-cart text-muted"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 p-l-35">
      <div class="row" style="height: 50%">
        <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 50%">
        <div class="col-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <div>
            <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart featured-product-heart m-t"></i><i class="fa fa-shopping-cart text-muted"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 p-l-35">
      <div class="row" style="height: 50%">
        <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 50%">
        <div class="col-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <div>
            <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart featured-product-heart m-t"></i><i class="fa fa-shopping-cart text-muted"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 p-l-35">
      <div class="row" style="height: 50%">
        <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 50%">
        <div class="col-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <div>
            <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart featured-product-heart m-t"></i><i class="fa fa-shopping-cart text-muted"></i></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-l-35">
      <div class="row" style="height: 50%">
        <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 50%">
        <div class="col-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <div>
            <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart featured-product-heart m-t"></i><i class="fa fa-shopping-cart text-muted"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 p-l-35">
      <div class="row" style="height: 50%">
        <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 50%">
        <div class="col-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <div>
            <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart featured-product-heart m-t"></i><i class="fa fa-shopping-cart text-muted"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 p-l-35">
      <div class="row" style="height: 50%">
        <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 50%">
        <div class="col-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <div>
            <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart featured-product-heart m-t"></i><i class="fa fa-shopping-cart text-muted"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 p-l-35">
      <div class="row" style="height: 50%">
        <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 50%">
        <div class="col-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <div>
            <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart featured-product-heart m-t"></i><i class="fa fa-shopping-cart text-muted"></i></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
