<div class="col">
  <div class="row" style="height: 60%">
    <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
  </div>
  <div class="row" style="height: 40%">
    <div class="col-12">
      <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
      <app-rating></app-rating>
      <div>
        <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
      </div>
    </div>
  </div>
</div>
