.p-l-20{
  padding-left: 20px;
}
.text-lightgrey{
  color: lightgrey;
}
.m-l-3per{
  margin-left: 3%;

}
.m-r-3per{
  margin-right: 3%;
}
.m-b-30{
  margin-bottom: 30px;
}
@media (min-width: 576px) and (max-width: 767px) {

 }
 @media (min-width: 768px) and (max-width: 991px) {
   .m-t {
    margin-top: 0px;
  }
.product-name {
    font-size: 12px;
    font-weight: 600;
    color: #676a6c;
    display: block;
    margin: 2px 0 5px 0;
  }
  .small, small {
    font-size: 60%;
    color: dimgray;
  }
  .productCount {
    font-size: 8px;
    padding-top: 15px;
    color: gray;
    padding-left: 5px;
}

 }
 @media (min-width: 992px) and (max-width: 1199px) {

 }
