<!-- <input type="button" class="btn btn-primary" value="add"> -->
<app-header></app-header>
<div class="container-fluid" style="margin-top:20px">
  <div class="row">
    <div class="col-md-12">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img [src]="images[0]" alt="Random first slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[1]" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[2]" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
<div class="container-fluid div-start">
  <h3 class="m-t m-b heading-name">Featured Shops</h3>
  <div class="row div-start" style="height:236px">
    <div class="col-md-1">
      <i class="fa fa-angle-left sliderIcon"></i>
    </div>
    <div class="col-md-3 borderedBox m-r" (click)="shop()">
      <div class="row" style="height:60%">
        <div class="col-md-4 borderedBox first-product">
          <img src="../../assets/img/4.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/5.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/7.jpg" class="img-fluid" alt="headfone">
        </div>
      </div>
      <div class="row" style="height:40%">
        <div class="col-md-4">
          <img src="../../assets/img/_gucci_logo_thumbnail.png" class="img-fluid productLogo" alt="headfone">
        </div>
        <div class="col-md-5">
          <a href="javascript:void(0)" class="product-name m-t"> GUCCI</a>
          <!--<h5>GUCCI</h5>-->
          <!--<p>Stamfort, CT</p>-->
          <div class="small m-t-xs">
            Stamfort, CT
          </div>
        </div>
        <div class="col-md-3 productCount">
          <p>140 Products</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 borderedBox m-r" (click)="shop()">
      <div class="row" style="height:60%">
        <div class="col-md-4 borderedBox first-product">
          <img src="../../assets/img/4.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/5.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/7.jpg" class="img-fluid" alt="headfone">
        </div>
      </div>
      <div class="row" style="height:40%">
        <div class="col-md-4">
          <img src="../../assets/img/_gucci_logo_thumbnail.png" class="img-fluid productLogo" alt="headfone">
        </div>
        <div class="col-md-5">
          <a href="javascript:void(0)" class="product-name m-t"> GUCCI</a>
          <!--<h5>GUCCI</h5>-->
          <!--<p>Stamfort, CT</p>-->
          <div class="small m-t-xs">
            Stamfort, CT
          </div>
        </div>
        <div class="col-md-3 productCount">
          <p>140 Products</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 borderedBox m-r" (click)="shop()">
      <div class="row" style="height:60%">
        <div class="col-md-4 borderedBox first-product">
          <img src="../../assets/img/4.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/5.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/7.jpg" class="img-fluid" alt="headfone">
        </div>
      </div>
      <div class="row" style="height:40%">
        <div class="col-md-4">
          <img src="../../assets/img/_gucci_logo_thumbnail.png" class="img-fluid productLogo" alt="headfone">
        </div>
        <div class="col-md-5">
          <a href="javascript:void(0)" class="product-name m-t"> GUCCI</a>
          <!--<h5>GUCCI</h5>-->
          <!--<p>Stamfort, CT</p>-->
          <div class="small m-t-xs">
            Stamfort, CT
          </div>
        </div>
        <div class="col-md-3 productCount">
          <p>140 Products</p>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <i class="fa fa-angle-right sliderIcon"></i>
    </div>
  </div>
  <div class="row" style="height:236px;margin-top: 10px">
    <div class="col-md-1"></div>
    <div class="col-md-3 borderedBox m-r" (click)="shop()">
      <div class="row" style="height:60%">
        <div class="col-md-4 borderedBox first-product">
          <img src="../../assets/img/4.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/5.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/7.jpg" class="img-fluid" alt="headfone">
        </div>
      </div>
      <div class="row" style="height:40%">
        <div class="col-md-4">
          <img src="../../assets/img/_gucci_logo_thumbnail.png" class="img-fluid productLogo" alt="headfone">
        </div>
        <div class="col-md-5">
          <a href="javascript:void(0)" class="product-name m-t"> GUCCI</a>
          <!--<h5>GUCCI</h5>-->
          <!--<p>Stamfort, CT</p>-->
          <div class="small m-t-xs">
            Stamfort, CT
          </div>
        </div>
        <div class="col-md-3 productCount">
          <p>140 Products</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 borderedBox m-r" (click)="shop()">
      <div class="row" style="height:60%">
        <div class="col-md-4 borderedBox first-product">
          <img src="../../assets/img/4.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/5.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/7.jpg" class="img-fluid" alt="headfone">
        </div>
      </div>
      <div class="row" style="height:40%">
        <div class="col-md-4">
          <img src="../../assets/img/_gucci_logo_thumbnail.png" class="img-fluid productLogo" alt="headfone">
        </div>
        <div class="col-md-5">
          <a href="javascript:void(0)" class="product-name m-t"> GUCCI</a>
          <!--<h5>GUCCI</h5>-->
          <!--<p>Stamfort, CT</p>-->
          <div class="small m-t-xs">
            Stamfort, CT
          </div>
        </div>
        <div class="col-md-3 productCount">
          <p>140 Products</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 borderedBox m-r" (click)="shop()">
      <div class="row" style="height:60%">
        <div class="col-md-4 borderedBox first-product">
          <img src="../../assets/img/4.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/5.jpg" class="img-fluid" alt="headfone">
        </div>
        <div class="col-md-4 borderedBox secondThird-product">
          <img src="../../assets/img/7.jpg" class="img-fluid" alt="headfone">
        </div>
      </div>
      <div class="row" style="height:40%">
        <div class="col-md-4">
          <img src="../../assets/img/_gucci_logo_thumbnail.png" class="img-fluid productLogo" alt="headfone">
        </div>
        <div class="col-md-5">
          <a href="javascript:void(0)" class="product-name m-t"> GUCCI</a>
          <!--<h5>GUCCI</h5>-->
          <!--<p>Stamfort, CT</p>-->
          <div class="small m-t-xs">
            Stamfort, CT
          </div>
        </div>
        <div class="col-md-3 productCount">
          <p>140 Products</p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="container-fluid div-start">
  <h3 class="m-t m-b heading-name">Featured Products</h3>
  <div class="row div-start" style="height: 300px">
    <div class="col-md-1">
      <i class="fa fa-angle-left featured-product-sliderIcon"></i>
    </div>
    <div class="col-md-2 cursor-pointer" (click)="product()">
      <div class="row" style="height: 60%">
        <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 40%">
        <div class="col-md-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i>
          <div>
            <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 cursor-pointer" (click)="product()">
      <div class="row" style="height: 60%">
        <img src="../../assets/img/9.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 40%">
        <div class="col-md-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i>
          <div>
            <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 cursor-pointer" (click)="product()">
      <div class="row" style="height: 60%">
        <img src="../../assets/img/shirt.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 40%">
        <div class="col-md-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i>
          <div>
            <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 cursor-pointer" (click)="product()">
      <div class="row" style="height: 60%">
        <img src="../../assets/img/handsfree.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 40%">
        <div class="col-md-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i>
          <div>
            <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 cursor-pointer" (click)="product()">
      <div class="row" style="height: 60%">
        <img src="../../assets/img/handsfree2.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 40%">
        <div class="col-md-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i>
          <div>
            <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 cursor-pointer">
      <i class="fa fa-angle-right featured-product-sliderIcon"></i>
    </div>

  </div>
</div>
<hr>
<div class="container-fluid div-start">
  <h3 class="m-t m-b heading-name">Clearance</h3>
  <div class="row div-start" style="height: 300px">
    <div class="col-md-1">
      <i class="fa fa-angle-left featured-product-sliderIcon"></i>
    </div>
    <div class="col-md-2 cursor-pointer" (click)="product()">
      <div class="row" style="height: 60%">
        <img src="../../assets/img/fs.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 40%">
        <div class="col-md-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i>
          <div>
            <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 cursor-pointer" (click)="product()">
      <div class="row" style="height: 60%">
        <img src="../../assets/img/ms.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 40%">
        <div class="col-md-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i>
          <div>
            <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 cursor-pointer" (click)="product()">
      <div class="row" style="height: 60%">
        <img src="../../assets/img/js.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 40%">
        <div class="col-md-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i>
          <div>
            <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 cursor-pointer" (click)="product()">
      <div class="row" style="height: 60%">
        <img src="../../assets/img/js2.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 40%">
        <div class="col-md-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i>
          <div>
            <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 cursor-pointer" (click)="product()">
      <div class="row" style="height: 60%">
        <img src="../../assets/img/js3.jpg" class="img-fluid" alt="headfone">
      </div>
      <div class="row" style="height: 40%">
        <div class="col-md-12">
          <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
          <i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i><i class="fa fa-star-o featured-product-stars"></i>
          <div>
            <h6><span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t"></i><i class="fa fa-shopping-cart"></i></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 cursor-pointer" (click)="product()">
      <i class="fa fa-angle-right featured-product-sliderIcon"></i>
    </div>

  </div>
</div>
<hr>
<div class="container-fluid div-start">
  <h3 class="m-t m-b heading-name">Last Reviews</h3>
  <div class="row div-start" style="height: 400px">
    <div class="col-md-5" style="overflow: auto">
      <div class="row" style="height: 15%">
        <div class="col-md-1">

        </div>
        <div class="col-md-2" >
          <img src="../../assets/img/person2.jpg" class="img-fluid video-thumbnail" alt="headfone">
        </div>
        <div class="col-md-8 cursor-pointer" >
          <h6>VIDEO ONE: SHORT DESCRIPTION</h6>
          <p class="color-gray-text-small">254000 views <span class="p-l-fifty color-gray-text-small">4 months ago</span></p>

        </div>

      </div>
      <div class="row m-t-thirty" style="height: 15%">
        <div class="col-md-1">

        </div>
        <div class="col-md-2" >
          <img src="../../assets/img/person.jpg" class="img-fluid video-thumbnail" alt="headfone">
        </div>
        <div class="col-md-8 cursor-pointer" >
          <h6>VIDEO ONE: SHORT DESCRIPTION</h6>
          <p class="color-gray-text-small">254000 views <span class="p-l-fifty color-gray-text-small">4 months ago</span></p>

        </div>

      </div>
      <div class="row m-t-thirty" style="height: 15%">
        <div class="col-md-1">
        </div>
        <div class="col-md-2" >
          <img src="../../assets/img/person2.jpg" class="img-fluid video-thumbnail" alt="headfone">
        </div>
        <div class="col-md-8 cursor-pointer" >
          <h6>VIDEO ONE: SHORT DESCRIPTION</h6>
          <p class="color-gray-text-small">254000 views <span class="p-l-fifty color-gray-text-small">4 months ago</span></p>

        </div>

      </div>
      <div class="row m-t-thirty" style="height: 15%">
        <div class="col-md-1">

        </div>
        <div class="col-md-2" >
          <img src="../../assets/img/person.jpg" class="img-fluid video-thumbnail" alt="headfone">
        </div>
        <div class="col-md-8 cursor-pointer" >
          <h6>VIDEO ONE: SHORT DESCRIPTION</h6>
          <p class="color-gray-text-small">254000 views <span class="p-l-fifty color-gray-text-small">4 months ago</span></p>

        </div>

      </div>
      <div class="row m-t-thirty" style="height: 15%">
        <div class="col-md-1">

        </div>
        <div class="col-md-2" >
          <img src="../../assets/img/person2.jpg" class="img-fluid video-thumbnail" alt="headfone">
        </div>
        <div class="col-md-8 cursor-pointer" >
          <h6>VIDEO ONE: SHORT DESCRIPTION</h6>
          <p class="color-gray-text-small">254000 views <span class="p-l-fifty color-gray-text-small">4 months ago</span></p>

        </div>

      </div>
      <div class="row m-t-thirty" style="height: 15%">
        <div class="col-md-1">

        </div>
        <div class="col-md-2" >
          <img src="../../assets/img/person.jpg" class="img-fluid video-thumbnail" alt="headfone">
        </div>
        <div class="col-md-8 cursor-pointer" >
          <h6>VIDEO ONE: SHORT DESCRIPTION</h6>
          <p class="color-gray-text-small">254000 views <span class="p-l-fifty color-gray-text-small">4 months ago</span></p>

        </div>

      </div>
      <div class="row m-t-thirty" style="height: 15%">
        <div class="col-md-1">

        </div>
        <div class="col-md-2" >
          <img src="../../assets/img/person2.jpg" class="img-fluid video-thumbnail" alt="headfone">
        </div>
        <div class="col-md-8 cursor-pointer" >
          <h6>VIDEO ONE: SHORT DESCRIPTION</h6>
          <p class="color-gray-text-small">254000 views <span class="p-l-fifty color-gray-text-small">4 months ago</span></p>

        </div>

      </div>
      <div class="row m-t-thirty" style="height: 15%">
        <div class="col-md-1">

        </div>
        <div class="col-md-2" >
          <img src="../../assets/img/person.jpg" class="img-fluid video-thumbnail" alt="headfone">
        </div>
        <div class="col-md-8 cursor-pointer" >
          <h6>VIDEO ONE: SHORT DESCRIPTION</h6>
          <p class="color-gray-text-small">254000 views <span class="p-l-fifty color-gray-text-small">4 months ago</span></p>

        </div>

      </div>
    </div>
    <div class="col-md-7">
      <iframe width="80%" height="100%"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </div>
  </div>
</div>

<div class="container-fluid div-start">
  <div class="row" style="height: 500px">
    <div class="col-md-5">
      <img src="../../assets/img/female.jpg" class="img-fluid video-thumbnail" alt="headfone">
    </div>
    <div class="col-md-7">
      <h5 class="color-gray-text-small p-t-two-hundred"> <i class="fa fa-quote-left"></i><br>All in all, just a perfectly simple way of <br>creatin ga great porject prototype for an <br> infinite range of projects: <br>from internet sites to mobile applications or<br> even complex, multi-level web <br>projects.</h5>
      <h6 class="p-t-fifty">IMPORTANT CLIENT</h6>
      <p class="color-gray-text-small">Company name, job title</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
