<ul>
  <li><a routerLink="main">Home(Screen 1 to 6)</a></li>
  <li><a routerLink="productsFromCatagoryUi">Product Search Result(Screen 7,8)</a></li>
  <li><a routerLink="shopSearchResult">Shop Search Result(Screen 9)</a></li>
  <li><a routerLink="shopProfile">Shop Description(Screen 10 to 13)</a></li>
  <li><a routerLink="productView">Product Description(Screen 14,15)</a></li>
  <li><a routerLink="cartView">Cart(Screen 16-24)</a></li>
  <li><a routerLink="closecart">Close Cart(Screen 25)</a></li>
  <li><a routerLink="closepayment">Close Payment(Screen 26)</a></li>
  <li><a routerLink="buyerProfile">Buyer Profile(Screen 27,28,29)</a></li>
</ul>
