<div class="list-group">
  <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="main()">1. Home(Screen 1 to 6)</a>
  <a href="javascript:void(0)" class="list-group-item list-group-item-action"  (click)="pfcui()">2. Product Search Result(Screen 7,8)</a>
  <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="ssr()">3. Shop Search Result(Screen 9)</a>
  <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="sp()">4. Shop Description(Screen 10 to 13)</a>
  <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="pv()">5. Product Description(Screen 14,15)</a>
  <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="cv()">6. Cart(Screen 16-24)</a>
  <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="cc()">7. Close Cart(Screen 25)</a>
  <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="cp()">8. Close Payment(Screen 26)</a>
  <a href="javascript:void(0)" class="list-group-item list-group-item-action" (click)="buyerProfile()">9. Buyer Profile(Screen 27,28,29)</a>
</div>
