<div class="container">
  <div class="row h-150px">
    <div class="col-1 theme-color">
      <h4 class="verticaltext">RECEIPT</h4>
    </div>
    <div class="col-11">
      <div class="row">
        <div class="col">
          <img src="../../assets/img/logo.png" class="p-to-15px" height="90px">
        </div>
      </div>
      <div class="row">
        <div class="col p-l-35px">
          <h6 class="text-muted">Receipt #000303</h6>
        </div>
      </div>
      <div class="row">
        <div class="col p-l-35px">
          <h6 class="text-muted">Aug. 07, 2017</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-t-100">
    <div class="col-6">
        <div class="row">
          <div class="col"><h6 class="text-muted">Client Details</h6></div>
        </div>
        <div class="row">
          <div class="col"><h5>Mike Remero</h5></div>
        </div>
        <div class="row">
          <div class="col"><p>mike@gmail.com</p></div>
        </div>
        <div class="row">
          <div class="col"><p>+112 1353 1313</p></div>
        </div>
        <div class="row">
          <div class="col"><p class="text-muted">6790 Denesike Pike Suite 388</p></div>
        </div>
    </div>
    <div class="col-6 text-align-right">
        <div class="row">
          <div class="col"><h6 class="text-muted">Payment to</h6></div>
        </div>
        <div class="row">
          <div class="col"><h5>Whiner and Diner</h5></div>
        </div>
        <div class="row">
          <div class="col"><p>whineranddiner@gmail.com</p></div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn theme-btn">PAID</button>
          </div>
        </div>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-6 border no-right-border">
      <div class="row"><h5 class="text-muted p-30px">Product Name</h5></div>
      <div class="row"><h6 class="p-30px pt-0">A Discount Toner cartridge is better than Ever and</h6></div>
      <div class="row mb-4 bottom-border"><h6 class="p-30px pt-0">5 Reasons to purchase desktop</h6></div>
      <div class="row"><h6 class="p-30px pt-0">Subtotal</h6></div>
      <div class="row"><h6 class="p-30px pt-0">Shipping Fee</h6></div>
      <div class="row mb-4 bottom-border"><h6 class="p-30px pt-0">VAT</h6></div>
      <div class="row"><h5 class="p-30px pt-0">TOTAL</h5></div>
    </div>
    <div class="col-3 border no-right-border no-left-border">
      <div class="row"><h5 class="text-muted p-30px">QTY</h5></div>
      <div class="row"><h6 class="p-30px pt-0">1</h6></div>
      <div class="row bottom-border"><h6 class="p-30px pt-0">2</h6></div>
      <div class="row"><h6 class="p-30px pt-0"> </h6></div>
      <div class="row"><h6 class="p-30px pt-0"> </h6></div>
      <div class="row"><h6 class="p-30px pt-0"> </h6></div>
      <div class="row mb-1"><h6 class="p-30px pt-0"> </h6></div>
      <div class="row mb-4 bottom-border"><h5 class="p-30px pt-0"> </h5></div>
    </div>
    <div class="col-3 border no-left-border">
      <div class="row"><h5 class="text-muted p-30px">Price</h5></div>
      <div class="row"><h6 class="p-30px pt-0">KES 32.00</h6></div>
      <div class="row bottom-border mb-4"><h6 class="p-30px pt-0">KES 50.00</h6></div>
      <div class="row"><h6 class="p-30px pt-0">KES 182.00</h6></div>
      <div class="row"><h6 class="p-30px pt-0">KES 10.00</h6></div>
      <div class="row mb-4 bottom-border"><h6 class="p-30px pt-0">KES 8.00</h6></div>
      <div class="row"><h5 class="p-30px pt-0">KES 200.00</h5></div>
    </div>
  </div>
  <div class="row lightgrey-background mb-5">
    <div class="col-6">
      <div class="row"><h5 class="text-muted p-30px pb-1">Payment Details</h5></div>
      <div class="row"><h6 class="p-30px pt-0 pb-0">Payment Method: Mpesa</h6></div>
      <div class="row"><h6 class="p-30px pt-0">Payment Number: 1234 1234 24</h6></div>
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
      <div class="row"><h5 class="text-muted p-30px">Due Date</h5></div>
    </div>
  </div>

</div>
