.m-b-40{
  margin-bottom: 40px;
}
.main-cotainer-box{
  border: 1px solid lightgrey;
  padding: 15px;
}
.container-height{
  height: auto;
}
.m-b-0{
  margin-bottom: 0px;
}
.text-align-right{
  text-align: right;
}
.close-now-font{
  font-size: 12px;
  font-weight: bold;
}
.text-lightgrey{
  color: lightgrey;
}
.btn-light{
  border: 1px solid #dddddd;
}
.color-blue{
  color: blue;
}
.color-red{
  color: red;
}
.color-tweet{
  color: deepskyblue;
}
.p-r-5{
  padding-right: 5px;
}
.display-inherit{
  display: inline-flex;
}
.m-r-5{
  margin-right: 10px
}
.m-l-5{
  margin-left: 10px;
}
.link-button{
  background-color: white;
  border: none;
}
.link-button:hover,active{
  background-color: white;
  border: none;
  border-bottom: 2px solid #819a49;
}
.no-border-on-focus{

}
.add-comment-btn{
  background-color: #819a49;
  color: white;
}
.m-l-30{
  margin-left: 30%;
}
.p-r-10{
  padding-right: 10px;
}
.m-l-40{
  margin-left: 40%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hide-text{
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .text-padding-h15{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.m-l-40pc{
  margin-left: 37%;
}
}
