.main-container{
  height: 100%;
  margin-top: 37px;
  border: 1px solid lightgray;
  margin-bottom: 50px;
}
.p-15{
  padding: 15px;
}
.p-l-5{
  padding-left: 5px;
}
.p-l-35{
  padding-left: 35px;
}
.btn-outline-primary{
  border: none;
  color: lightgrey;
}
.text-lightgrey{
  color: lightgrey;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus{
  box-shadow: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus{
  color: lightgrey !important;
  background-color: white !important;
  border-color: white !important;
}
.btn-light{
  background-color: white;
  border: none;
  color: lightgrey;
}
.btn-light:hover{
  background-color: white;
  border: none;
  color: lightgrey;
}
.btn-light:active{
  background-color: white;
  border: none;
  color: lightgrey;
}
.t-c-lightgrey{
  color: lightgrey !important;
}
