<div class="container-fluid">
  <div class="row" style="height: auto">
    <div class="col" >
      <div class="main-container">
        <!--header row to show sorting and pagination-->
        <div class="row">
          <div class="col-8">
            <button type="button" class="btn btn-light p-15 text-lightgrey">Newest<i class="fa fa-angle-down p-l-5"></i></button>
            <div ngbDropdown class="d-inline-block p-15">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Sort by</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Product</button>
                <button class="dropdown-item">Shop Location</button>
                <button class="dropdown-item">Shop</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <nav aria-label="Page navigation example" class="p-15">
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  <a class="page-link text-lightgrey" href="javascript:void(0)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link text-lightgrey" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link text-lightgrey" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link text-lightgrey" href="javascript:void(0)">3</a></li>
                <li class="page-item">
                  <a class="page-link text-lightgrey" href="javascript:void(0)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--item product row 1-->
        <div class="row">
          <div class="col-md-4 p-l-35">
            <div class="row" style="height: 50%">
              <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
            </div>
            <div class="row" style="height: 50%">
              <div class="col-md-12">
                <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
                <div class="row">
                  <div class="col-2">
                    <i class="material-icons text-lightgrey">store_mall_directory</i>
                  </div>
                  <div class="col-10">
                  <h6 class="product-search-name">WHINER AND DINER</h6>

                  </div>
                </div>
                <div>
                  <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t" style="color: lightgrey"></i><i class="fa fa-shopping-cart" style="color: lightgrey"></i></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-l-35">
            <div class="row" style="height: 50%">
              <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
            </div>
            <div class="row" style="height: 50%">
              <div class="col-md-12">
                <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
                <div class="row">
                  <div class="col-2">
                    <i class="material-icons text-lightgrey">store_mall_directory</i>
                  </div>
                  <div class="col-10">
                  <h6 class="product-search-name">WHINER AND DINER</h6>

                  </div>
                </div>
                <div>
                  <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t" style="color: lightgrey"></i><i class="fa fa-shopping-cart" style="color: lightgrey"></i></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-l-35">
            <div class="row" style="height: 50%">
              <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
            </div>
            <div class="row" style="height: 50%">
              <div class="col-md-12">
                <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
                <div class="row">
                  <div class="col-2">
                    <i class="material-icons text-lightgrey">store_mall_directory</i>
                  </div>
                  <div class="col-10">
                  <h6 class="product-search-name">WHINER AND DINER</h6>

                  </div>
                </div>
                <div>
                  <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t" style="color: lightgrey"></i><i class="fa fa-shopping-cart" style="color: lightgrey"></i></h6>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--item product row 2-->
        <div class="row">
          <div class="col-md-4 p-l-35">
            <div class="row" style="height: 50%">
              <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
            </div>
            <div class="row" style="height: 50%">
              <div class="col-md-12">
                <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
                <div class="row">
                  <div class="col-2">
                    <i class="material-icons text-lightgrey">store_mall_directory</i>
                  </div>
                  <div class="col-10">
                    <h6 class="product-search-name">WHINER AND DINER</h6>

                  </div>
                </div>
                <div>
                  <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t" style="color: lightgrey"></i><i class="fa fa-shopping-cart" style="color: lightgrey"></i></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-l-35">
            <div class="row" style="height: 50%">
              <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
            </div>
            <div class="row" style="height: 50%">
              <div class="col-md-12">
                <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
                <div class="row">
                  <div class="col-2">
                    <i class="material-icons text-lightgrey">store_mall_directory</i>
                  </div>
                  <div class="col-10">
                    <h6 class="product-search-name">WHINER AND DINER</h6>

                  </div>
                </div>
                <div>
                  <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t" style="color: lightgrey"></i><i class="fa fa-shopping-cart" style="color: lightgrey"></i></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-l-35">
            <div class="row" style="height: 50%">
              <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
            </div>
            <div class="row" style="height: 50%">
              <div class="col-md-12">
                <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
                <div class="row">
                  <div class="col-2">
                    <i class="material-icons text-lightgrey">store_mall_directory</i>
                  </div>
                  <div class="col-10">
                    <h6 class="product-search-name">WHINER AND DINER</h6>

                  </div>
                </div>
                <div>
                  <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t" style="color: lightgrey"></i><i class="fa fa-shopping-cart" style="color: lightgrey"></i></h6>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--item product row 3-->
        <div class="row">
          <div class="col-md-4 p-l-35">
            <div class="row" style="height: 50%">
              <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
            </div>
            <div class="row" style="height: 50%">
              <div class="col-md-12">
                <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
                <div class="row">
                  <div class="col-2">
                    <i class="material-icons text-lightgrey">store_mall_directory</i>
                  </div>
                  <div class="col-10">
                    <h6 class="product-search-name">WHINER AND DINER</h6>

                  </div>
                </div>
                <div>
                  <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t" style="color: lightgrey"></i><i class="fa fa-shopping-cart" style="color: lightgrey"></i></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-l-35">
            <div class="row" style="height: 50%">
              <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
            </div>
            <div class="row" style="height: 50%">
              <div class="col-md-12">
                <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
                <div class="row">
                  <div class="col-2">
                    <i class="material-icons text-lightgrey">store_mall_directory</i>
                  </div>
                  <div class="col-10">
                    <h6 class="product-search-name">WHINER AND DINER</h6>

                  </div>
                </div>
                <div>
                  <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t" style="color: lightgrey"></i><i class="fa fa-shopping-cart" style="color: lightgrey"></i></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-l-35">
            <div class="row" style="height: 50%">
              <img src="../../assets/img/8.jpg" class="img-fluid" alt="headfone">
            </div>
            <div class="row" style="height: 50%">
              <div class="col-md-12">
                <a href="javascript:void(0)" class="product-name m-t"> PRODUCT ONE WITH SHORT DESCRIPTION</a>
                <div class="row">
                  <div class="col-2">
                    <i class="material-icons text-lightgrey">store_mall_directory</i>
                  </div>
                  <div class="col-10">
                    <h6 class="product-search-name">WHINER AND DINER</h6>

                  </div>
                </div>
                <div>
                  <h6 > <span class="featured-product-pirce">599.00 $</span> <i class="fa fa-heart-o featured-product-heart m-t" style="color: lightgrey"></i><i class="fa fa-shopping-cart" style="color: lightgrey"></i></h6>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
