<div class="container">
  <div class="row mt-3 background-color-graytype">
    <div class="col-1">
      <i class="material-icons font-50px p-t-10">store_mall_directory</i>
    </div>
    <div class="col-11 pl-0">
      <h6 class="p-t-10">Whiner and Diner</h6>
      <p class="text-muted">Stamford City</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <p class="text-muted receipt-header">ADDED ITEMS</p>
    </div>
    <div class="col-4">
      <p class="text-muted receipt-header">SHORT DESCRIPTION</p>
    </div>
    <div class="col-2">
      <p class="text-muted receipt-header">QUANTITY</p>
    </div>
    <div class="col-3">
      <p class="text-muted receipt-header text-align-right">PRICE</p>
    </div>
  </div>
  <hr>
  <div class="row mb-3">
    <div class="col-3 display-inline pr-0">
      <img src="../../assets/img/chair-thumbnail.jpg" class="img-thumbnail">
      <h6 class="vertically-center brand-name-text">Brand Name with Product Name</h6>
    </div>
    <div class="col-4">
      <h6 class="text-muted description-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
    </div>
    <div class="col-2">
      <div class="container pt-3">
        <div class="row">
          <div class="col-3 quantity-number border-right-none">
            <p class="text-muted">1</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h6 class="p-t-15pc text-align-right">KES 150.00</h6>
    </div>
  </div>
  <hr>
  <div class="row mb-3">
    <div class="col-3 display-inline pr-0">
      <img src="../../assets/img/chair-thumbnail.jpg" class="img-thumbnail">
      <h6 class="vertically-center brand-name-text">Brand Name with Product Name</h6>
    </div>
    <div class="col-4">
      <h6 class="text-muted description-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
    </div>
    <div class="col-2">
      <div class="container pt-3">
        <div class="row">
          <div class="col-3 quantity-number border-right-none">
            <p class="text-muted">1</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h6 class="p-t-15pc text-align-right">KES 150.00</h6>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2 offset-8">
      <p class="font-bold float-right">SUB-TOTAL</p>
    </div>
    <div class="col-2">
      <p class="text-muted font-bold">KES 15.0</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-8">
      <p class="font-bold float-right">SHIPPING FEE</p>
    </div>
    <div class="col-2">
      <p class="text-muted font-bold">KES 25.0</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-8">
      <p class="font-bold float-right">VAT</p>
    </div>
    <div class="col-2">
      <p class="text-muted font-bold">KES 15.0</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-8">
      <h5 class="font-bold float-right">TOTAL PRICE</h5>
    </div>
    <div class="col-2">
      <h5 class="font-bold">KES 250.00</h5>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col">
      <button class="btn theme-btn float-right text-padding-h10 m-r-40" data-toggle="modal" data-target="#exampleModalCenter">PROCESS PAYMENT</button>
    </div>
  </div>

<!-- ============================================================================ -->

<div class="row mt-3 background-color-graytype">
  <div class="col-1">
    <i class="material-icons font-50px p-t-10">store_mall_directory</i>
  </div>
  <div class="col-11 pl-0">
    <h6 class="p-t-10">Whiner and Diner</h6>
    <p class="text-muted">Stamford City</p>
  </div>
</div>
<div class="row mt-3">
  <div class="col-3">
    <p class="text-muted receipt-header">ADDED ITEMS</p>
  </div>
  <div class="col-4">
    <p class="text-muted receipt-header">SHORT DESCRIPTION</p>
  </div>
  <div class="col-2">
    <p class="text-muted receipt-header">QUANTITY</p>
  </div>
  <div class="col-3">
    <p class="text-muted receipt-header text-align-right">PRICE</p>
  </div>
</div>
<hr>
<div class="row mb-3">
  <div class="col-3 display-inline pr-0">
    <img src="../../assets/img/chair-thumbnail.jpg" class="img-thumbnail">
    <h6 class="vertically-center brand-name-text">Brand Name with Product Name</h6>
  </div>
  <div class="col-4">
    <h6 class="text-muted description-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
  </div>
  <div class="col-2">
    <div class="container pt-3">
      <div class="row">
        <div class="col-3 quantity-number border-right-none">
          <p class="text-muted">1</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <h6 class="p-t-15pc text-align-right">KES 150.00</h6>
  </div>
</div>
<hr>
<div class="row mb-3">
  <div class="col-3 display-inline pr-0">
    <img src="../../assets/img/chair-thumbnail.jpg" class="img-thumbnail">
    <h6 class="vertically-center brand-name-text">Brand Name with Product Name</h6>
  </div>
  <div class="col-4">
    <h6 class="text-muted description-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
  </div>
  <div class="col-2">
    <div class="container pt-3">
      <div class="row">
        <div class="col-3 quantity-number border-right-none">
          <p class="text-muted">1</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <h6 class="p-t-15pc text-align-right">KES 150.00</h6>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 offset-8">
    <p class="font-bold float-right">SUB-TOTAL</p>
  </div>
  <div class="col-2">
    <p class="text-muted font-bold">KES 15.0</p>
  </div>
</div>
<div class="row">
  <div class="col-2 offset-8">
    <p class="font-bold float-right">SHIPPING FEE</p>
  </div>
  <div class="col-2">
    <p class="text-muted font-bold">KES 25.0</p>
  </div>
</div>
<div class="row">
  <div class="col-2 offset-8">
    <p class="font-bold float-right">VAT</p>
  </div>
  <div class="col-2">
    <p class="text-muted font-bold">KES 15.0</p>
  </div>
</div>
<div class="row">
  <div class="col-2 offset-8">
    <h5 class="font-bold float-right">TOTAL PRICE</h5>
  </div>
  <div class="col-2">
    <h5 class="font-bold">KES 250.00</h5>
  </div>
</div>
<div class="row mt-3 mb-5">
  <div class="col">
    <button class="btn theme-btn float-right text-padding-h10 m-r-40" data-toggle="modal" data-target="#exampleModalCenter">PROCESS PAYMENT</button>
  </div>
</div>
</div>

<!-- ====================== Modal ========================= -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" *ngIf="payment1 == 'show'" id="exampleModalLongTitle">Choose Payment Method</h2>
        <button type="button" class="close" (click)='reset()' data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="payment1 == 'show'" class="row">
          <div class="col"><h6 class="text-muted">The wide rangin nature of items and practices to which the</h6> </div>
        </div>
        <div *ngIf="payment1 == 'show'" class = "row">
          <div class = "col-6 p-50">
            <button class="payment-icon" (click)="hidePayment1()">
              <img src="../../assets/img/easy-paisa.jpg" >
              <br>
              pay by cash on delivery
            </button>
          </div>
          <div class = "col-6 p-50">
            <button class="payment-icon" (click)="hidePayment1()">
              <img src="../../assets/img/mpesa+logo.png" class="payment-icon">
              <br>
              pay by mpesa
            </button>
          </div>
        </div>
        <!-- ==================================== Payment Number ===================== -->
        <div *ngIf="payment2 == 'show'" class = "row">
          <div class = "col-4 border-right">
            <button class="payment-icon" >
              <img src="../../assets/img/mpesa+logo.png" class="payment-icon">
              <br>
              pay by mpesa
            </button>
          </div>
          <div class = "col-8 p-3">
            <div *ngIf="payment2 == 'show'" class="row mt-3">
              <div class="col"><h5 class="font-14px">Please Enter your Mpesa Mobile phone number to continue a payment</h5> </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 p-10">
                <input type="text" class="p-10" placeholder="Mobile Number...">
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <button type="button" class="btn btn-outline-secondary full-width border-radius-30px text-padding-h15" (click)="hidePayment2()">PAY NOW</button>
              </div>
            </div>
          </div>
        </div>
        <!-- ====================================================== loader ========================================== -->
        <div *ngIf="payment3 == 'show'" class = "row">
          <div class = "col-4 border-right">
            <button class="payment-icon" >
              <img src="../../assets/img/mpesa+logo.png" class="payment-icon">
              <br>
              pay by mpesa
            </button>
          </div>
          <div class = "col-8 p-3">
            <img src="../../assets/img/loader.gif" class="pl-4">
          </div>
        </div>
        <!-- ====================================================== confirmation ========================================== -->
        <div *ngIf="payment4 == 'show'" class = "row">
          <div class = "col-4 border-right">
            <button class="payment-icon" >
              <img src="../../assets/img/mpesa+logo.png" class="payment-icon">
              <br>
              pay by mpesa
            </button>
          </div>
          <div class = "col-8 p-3">
            <i class="material-icons payment-confirmation-icon">check_circle</i>
            <h6 class="text-align-center">Payment Confirmed</h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
