<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h4 class="text-align-center">Thank you for your Order!</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h6 class="text-align-center text-muted">The wide ranging nature of items and practices to wich the<br>term creative can be sensibly applied also makes a</h6>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col text-align-center">
      <input class="email-box" type="email" placeholder="E-mail">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-align-center">
      <button class="btn theme-btn text-padding-h15">SEND RECEIPT</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-align-center">
      <!-- <button type="button" class="btn btn-outline-secondary"><i class="material-icons">picture_as_pdf</i></button> -->
      <button type="button" (click)="showReceipt()" class="btn btn-outline-secondary mr-5 border-radius-50px icon-color-red round-btn-padding"><i class="fa fa-file-pdf-o"></i></button>
      <button type="button" (click)="showReceipt()" class="btn btn-outline-secondary border-radius-50px icon-color-blue round-btn-padding"><i class="fa fa-print"></i></button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col display-inline-flex">
      <h6 class="text-muted mr-4 m-l-40pc">Download PDF</h6>
      <h6 class="text-muted">Print Receipt</h6>
    </div>
  </div>
</div>
