<div class="container border m-t">
  <div class="col-12">
    <div class="d-inline-flex">
      <div ngbDropdown class="col-12">
        <a class="dropdown-toggle" id="newest" ngbDropdownToggle>NEWEST</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="newest">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>

        </div>
      </div>
      <div ngbDropdown class="col-12">
        <a class="dropdown-toggle" id="sortby" ngbDropdownToggle>SORT BY</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="sortby">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    </div>
    <div class="float-right">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="col-12 container-fluid mt-5 border-bottom">
    <ul class="media-list container-fluid">
      <li class="media mt-4">
        <a href="#" class="pull-left">
          <img src="../../assets/img/user.png" alt="" class="rounded img-comment">
        </a>
        <div class="media-body border-bottom">
          <strong class="text-muted">Rexona Kumi</strong>
          <span class="text-muted">
            <small class="text-muted">July 23, 1:32 PM</small>
          </span>
          <app-rating></app-rating>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet,.
          </p>
        </div>
      </li>
      <li class="media mt-4">
        <a href="#" class="pull-left">
          <img src="../../assets/img/user.png" alt="" class="rounded img-comment">
        </a>
        <div class="media-body border-bottom">
          <strong class="text-muted">Rexona Kumi</strong>
          <span class="text-muted">
            <small class="text-muted">July 23, 1:32 PM</small>
          </span>
          <app-rating></app-rating>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet,.
          </p>
        </div>
      </li>
      <li class="media mt-4">
        <a href="#" class="pull-left">
          <img src="../../assets/img/user.png" alt="" class="rounded img-comment">
        </a>
        <div class="media-body border-bottom">
          <strong class="text-muted">Rexona Kumi</strong>
          <span class="text-muted">
            <small class="text-muted">July 23, 1:32 PM</small>
          </span>
          <app-rating></app-rating>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet,.
          </p>
        </div>
      </li>
      <li class="media mt-4">
        <a href="#" class="pull-left">
          <img src="../../assets/img/user.png" alt="" class="rounded img-comment">
        </a>
        <div class="media-body border-bottom">
          <strong class="text-muted">Rexona Kumi</strong>
          <span class="text-muted">
            <small class="text-muted">July 23, 1:32 PM</small>
          </span>
          <app-rating></app-rating>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet,.
          </p>
        </div>
      </li>
      <li class="media mt-4">
        <a href="#" class="pull-left">
          <img src="../../assets/img/user.png" alt="" class="rounded img-comment">
        </a>
        <div class="media-body">
          <strong class="text-muted">Rexona Kumi</strong>
          <span class="text-muted">
            <small class="text-muted">July 23, 1:32 PM</small>
          </span>
          <app-rating></app-rating>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet,.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-12 container mt-5">
    <textarea class="col-12 form-control" placeholder="Write a comment" rows="3" cols="3"></textarea>
    <div class=" mt-4 col-12 d-inline-flex">
      <div class="col-6">
        <app-rating></app-rating>
        <p class="text-muted">Set your mark</p>
      </div>
      <div class="col-6">
        <button class="btn btn-green btn-rounded">ADD COMMENT</button>
      </div>
    </div>
  </div>
</div>

