<div class="container margin-left-105 border d-inline-flex m-t">
  <div class="col-8">
    <div class="text-left">
      <h1>About Shop</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>
  </div>
  <div class="col-4">
    <h1>Address</h1>
    <p>5097 Alxandrine Divide Suite 427</p>
    <h1>Payment Methods</h1>
    <div class="d-inline-flex">
      <div class="col-6 text-center">
        <img class="img-thumbnail" src="../../assets/img/_gucci_logo_thumbnail.png">
        <p>Pay by Cash on delivery</p>
      </div>
      <div class="col-6 text-center">
        <img class="img-thumbnail" src="../../assets/img/_gucci_logo_thumbnail.png">
        <p>Pay by MPESA</p>
      </div>
    </div>
  </div>
</div>
