.font-50px{
  font-size: 38px;
  color: #e3e3e3;
}
.font-12{
  font-size: 12px;
}
.p-t-10{
  padding-top: 10px;
}
.text-color-gray{
  color: #e3e3e3;
}
.p-l-0{
  padding-left: 0px;
}
.text-black{
  color: black;
}
.chivron-icon{
  color: lightgray;
    padding: 13px;
    float: right;
}
.theme-text{
  color: #819a49;
}
/* ================================== */

.rounded-btn{
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.btn-theme-green{
  background-color: #819a49;
  color: #fff;
}
.inner-circle{
  border-radius: 56px;
    background-color: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.user-img-icon{
  max-width: 40px;
  margin-right: 5px;
}
hr{
  margin-top: 0px !important;
}
.rounded-container{
  border-radius: 30px;
  padding-left: 0px;
}
.theme-btn{
  background-color: #819a49;
  color: white;
  border-radius:30px;
}
.light-btn{
  background-color: white;
  border: none;
  border-radius:30px;
}
/* .light-btn:hover{
  background-color: #819a49;
  color: white;
  border-radius:30px;
} */
.light-btn:active{
  background-color: #819a49;
  color: white;
  border-radius:30px;
}
.light-btn:focus{
  background-color: #819a49;
  color: white;
  border: none;
}
.text-padding{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.text-padding-h15{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.border-radius-30px{
  border-radius: 30px;
}
.total-bill{
  margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}
.text-inline{
  display: inline-flex;
}
.p-t-4px{
  padding-top: 9px;
}
.text-bold{
  font-weight: bold;
}
.dropdown-toggle:empty::after{
  display: none !important;
}
@media (min-width: 576px) and (max-width: 767px) {
  .text-padding{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
 }
 @media (min-width: 768px) and (max-width: 991px) {
   .text-padding{
     padding-left: 50px;
     padding-right: 50px;
     padding-top: 7px;
     padding-bottom: 7px;
   }
   .text-padding-h15{
     padding-left: 50px;
     padding-right: 50px;
     padding-top: 7px;
     padding-bottom: 7px;
   }
 }
 @media (min-width: 992px) and (max-width: 1199px) {
   .text-padding{
     padding-left: 75px;
     padding-right: 75px;
     padding-top: 7px;
     padding-bottom: 7px;
   }
   .text-padding-h15{
     padding-left: 75px;
     padding-right: 75px;
     padding-top: 10px;
     padding-bottom: 10px;
   }
 }
