<div class="row">
  <div class="col-md-12 form-inline">
    <div class="col-md-3">
      <img src="../../assets/img/logo.png" class="img-fluid">
    </div>
    <div class="col-md-5">
        <input type="text" name="search" class="header-search" placeholder="Search..">
    </div>
    <div class="col-md-2">
        <button class="btn rounded-btn btn-theme-green"><i class="fa fa-shopping-cart"></i> My Cart<span class="inner-circle">5</span></button>
    </div>
    <div class="col-md-2">
      <img src="../../assets/img/user.png" alt="" class="rounded user-img-icon">
      <i class="fa fa-angle-down text-muted"></i>
    </div>
  </div>
</div>
<hr>
<div class="row mt-4">
  <div class="container border rounded-container">
    <button class="btn theme-btn text-padding">CART</button>
    <button class="btn light-btn text-padding">DELIVERY</button>
    <button class="btn light-btn text-padding">PAYMENT</button>
    <button class="btn light-btn text-padding">RECEIPT</button>
  </div>
</div>
