<div class="row">
  <div class="col-md-12 form-inline">
    <div class="col-md-3">
      <img src="../../assets/img/logo.png" class="img-fluid">
    </div>
    <div class="col-md-5">
        <input type="text" name="search" class="header-search" placeholder="Search..">
    </div>
    <div class="col-md-2">
        <button class="btn rounded-btn btn-theme-green"><i class="fa fa-shopping-cart"></i> My Cart<span class="inner-circle">5</span></button>
    </div>
    <div class="col-md-2">
      <img src="../../assets/img/user.png" alt="" class="rounded user-img-icon">
      <i class="fa fa-angle-down text-muted"></i>
    </div>
  </div>
</div>
<hr>
<div class="row mt-4">
  <div class="container border rounded-container">
    <button class="btn light-btn text-padding" (click)='loadCart()'>CART</button>
    <button class="btn light-btn text-padding" (click)='loadDelivery()'>DELIVERY</button>
    <button class="btn light-btn text-padding" (click)='loadPayment()'>PAYMENT</button>
    <button class="btn light-btn text-padding" (click)='loadReceipt()'>RECEIPT</button>
  </div>
</div>
<div *ngIf="cart === 'show'">
  <app-cart></app-cart>
</div>
<div *ngIf="payment === 'show'">
  <app-payment></app-payment>
</div>
<div *ngIf="delivery === 'show'">
  <app-shipping></app-shipping>
</div>
<div *ngIf="receipt === 'show'">
  <app-thanks></app-thanks>
</div>

<app-footer></app-footer>
